html {
  font-size: 21px;
}

span {
  color: #2e7ee7;
}

#swimTimes {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#swimTimes td, #swimTimes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#swimTimes tr:nth-child(even){background-color: #f2f2f2;}

#swimTimes tr:hover {background-color: rgba(1, 139, 252, 0.438);}

#swimTimes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #499dfc;
  color: white;
  font-size: 18px;
}

#pool {
  width: 100%
}